In [75]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [76]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2022-09-18 22:47:36,-33.9258,18.4232,56.08,74,20,9.22
1,1,Hermanus,ZA,2022-09-18 22:50:37,-34.4187,19.2345,48.79,78,68,10.00
2,2,Batticaloa,LK,2022-09-18 22:50:38,7.7102,81.6924,79.23,78,100,4.52
3,3,Port Alfred,ZA,2022-09-18 22:50:38,-33.5906,26.8910,56.17,95,100,5.01
4,4,Ihosy,MG,2022-09-18 22:50:38,-22.4000,46.1167,60.10,87,66,6.87

In [77]:
#Get data types 6.5.2
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [78]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [79]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [80]:
# Heatmap of temperature 6.5.2
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
# Heatmap of percent humidity 6.5.2
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [82]:
# Heatmap of percent cloudiness 6.5.2
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# Heatmap of wind speed 6.5.2
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# Ask the customer to add a minimum and maximum temperature value. 6.5.3
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [91]:
# Filter the dataset to find the cities that fit the criteria. 6.5.3
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Batticaloa,LK,2022-09-18 22:50:38,7.7102,81.6924,79.23,78,100,4.52
7,7,Mayahi,NE,2022-09-18 22:50:39,13.9553,7.6712,85.17,52,63,3.00
13,13,Pochutla,MX,2022-09-18 22:50:44,15.7432,-96.4661,80.13,82,50,7.52
14,14,Columbus,US,2022-09-18 22:47:36,39.9612,-82.9988,81.19,57,75,10.36
15,15,Santa Rosa,PH,2022-09-18 22:49:46,14.3122,121.1114,78.78,94,100,4.59
16,16,Georgetown,MY,2022-09-18 22:50:45,5.4112,100.3354,78.89,92,20,2.30
18,18,Daru,PG,2022-09-18 22:50:45,-9.0763,143.2092,81.52,84,92,11.07
20,20,Warri,NG,2022-09-18 22:50:46,5.5167,5.7500,75.85,88,100,3.94
25,25,Fonte Boa,BR,2022-09-18 22:50:48,-2.4959,-66.2662,81.41,70,100,3.20
32,32,Kapaa,US,2022-09-18 22:50:52,22.0752,-159.3190,85.10,74,40,11.50

In [92]:
preferred_cities_df.count()

City_ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [93]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. 6.5.4
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2   Batticaloa      LK     79.23   7.7102   81.6924
7       Mayahi      NE     85.17  13.9553    7.6712
13    Pochutla      MX     80.13  15.7432  -96.4661
14    Columbus      US     81.19  39.9612  -82.9988
15  Santa Rosa      PH     78.78  14.3122  121.1114
16  Georgetown      MY     78.89   5.4112  100.3354
18        Daru      PG     81.52  -9.0763  143.2092
20       Warri      NG     75.85   5.5167    5.7500
25   Fonte Boa      BR     81.41  -2.4959  -66.2662
32       Kapaa      US     85.10  22.0752 -159.3190

In [94]:
# Set parameters to search for a hotel. 6.5.4
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [95]:
# Iterate through the DataFrame. 6.5.4
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [96]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Batticaloa,LK,79.23,7.7102,81.6924,Grand Star Guest House
7,Mayahi,NE,85.17,13.9553,7.6712,
13,Pochutla,MX,80.13,15.7432,-96.4661,Hotel Posada San Jose
14,Columbus,US,81.19,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...
15,Santa Rosa,PH,78.78,14.3122,121.1114,Erlyn’s Sta Rosa City Home
16,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
18,Daru,PG,81.52,-9.0763,143.2092,Daru Lodge
20,Warri,NG,75.85,5.5167,5.7500,GT Guesthouse
25,Fonte Boa,BR,81.41,-2.4959,-66.2662,
32,Kapaa,US,85.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [98]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data. 6.5.4
fig

Figure(layout=FigureLayout(height='420px'))