## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carnarvon,AU,-24.8667,113.6333,62.98,77,0,19.86,clear sky
1,1,Binika,IN,21.0333,83.8000,75.56,93,23,3.04,few clouds
2,2,Baykit,RU,61.6700,96.3700,34.41,99,100,4.88,snow
3,3,Touros,BR,-5.1989,-35.4608,77.09,81,1,11.61,clear sky
4,4,Airai,TL,-8.9266,125.4092,60.21,85,94,2.59,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Binika,IN,21.0333,83.8000,75.56,93,23,3.04,few clouds
3,3,Touros,BR,-5.1989,-35.4608,77.09,81,1,11.61,clear sky
5,5,Namatanai,PG,-3.6667,152.4333,80.02,73,100,1.68,overcast clouds
7,7,Vaini,TO,-21.2000,-175.2000,77.16,88,75,12.66,broken clouds
8,8,Kununurra,AU,-15.7667,128.7333,75.18,78,6,1.14,clear sky
9,9,Los Amates,GT,15.2667,-89.1000,85.57,68,100,2.62,overcast clouds
11,11,Maragogi,BR,-9.0122,-35.2225,75.49,80,1,7.81,clear sky
14,14,Aquiraz,BR,-3.9014,-38.3911,82.49,78,0,12.46,clear sky
20,20,San Ignacio,BZ,17.1561,-89.0714,87.94,62,40,6.91,scattered clouds
22,22,Rikitea,PF,-23.1203,-134.9692,72.90,75,4,14.63,light rain

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Binika,IN,21.0333,83.8000,75.56,93,23,3.04,few clouds
3,3,Touros,BR,-5.1989,-35.4608,77.09,81,1,11.61,clear sky
5,5,Namatanai,PG,-3.6667,152.4333,80.02,73,100,1.68,overcast clouds
7,7,Vaini,TO,-21.2000,-175.2000,77.16,88,75,12.66,broken clouds
8,8,Kununurra,AU,-15.7667,128.7333,75.18,78,6,1.14,clear sky
9,9,Los Amates,GT,15.2667,-89.1000,85.57,68,100,2.62,overcast clouds
11,11,Maragogi,BR,-9.0122,-35.2225,75.49,80,1,7.81,clear sky
14,14,Aquiraz,BR,-3.9014,-38.3911,82.49,78,0,12.46,clear sky
20,20,San Ignacio,BZ,17.1561,-89.0714,87.94,62,40,6.91,scattered clouds
22,22,Rikitea,PF,-23.1203,-134.9692,72.90,75,4,14.63,light rain

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Binika,IN,75.56,few clouds,21.0333,83.8000,
3,Touros,BR,77.09,clear sky,-5.1989,-35.4608,
5,Namatanai,PG,80.02,overcast clouds,-3.6667,152.4333,
7,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
8,Kununurra,AU,75.18,clear sky,-15.7667,128.7333,
9,Los Amates,GT,85.57,overcast clouds,15.2667,-89.1000,
11,Maragogi,BR,75.49,clear sky,-9.0122,-35.2225,
14,Aquiraz,BR,82.49,clear sky,-3.9014,-38.3911,
20,San Ignacio,BZ,87.94,scattered clouds,17.1561,-89.0714,
22,Rikitea,PF,72.90,light rain,-23.1203,-134.9692,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.count()
#hotel_df.isnull().sum()
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Binika,IN,75.56,few clouds,21.0333,83.8000,DISASTER ACCOMMODATION
3,Touros,BR,77.09,clear sky,-5.1989,-35.4608,INN NEW HORIZON
5,Namatanai,PG,80.02,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
7,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Kununurra,AU,75.18,clear sky,-15.7667,128.7333,Hotel Kununurra
9,Los Amates,GT,85.57,overcast clouds,15.2667,-89.1000,Las Basas
11,Maragogi,BR,75.49,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
14,Aquiraz,BR,82.49,clear sky,-3.9014,-38.3911,Pousada Rua Camurupim
20,San Ignacio,BZ,87.94,scattered clouds,17.1561,-89.0714,Rainforest Haven Inn
22,Rikitea,PF,72.90,light rain,-23.1203,-134.9692,People ThankYou

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
#<dt>Current Description</dt><dd>{Current Description}</dd>and<dt><dd>{Max Temp} °F</dd>
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))